/*///
 Main Components
*////

body {

  /*///
   MAIN (Header) Styling
  *////

  h1 {
    text-align: center;
  }

  .menu-options {
    @include flexbox();
    flex-flow: row nowrap;
    justify-content: center;
  }

  /*///
   MAIN (Footer) Styling
  *////

    .footer-text {
      @extend .main-font;
      background-color: rgba(27, 30, 209, 0.8);
      font-size: 18px;
      text-align: center;
      padding: 10px;
      margin-bottom: 0;
    }

  /*///
   GALLERY Styling
  *////

  ///               ///
  ///** Gallery 1 **///
  ///               ///

  .gallery-container1 {
    background-color: $dark-violet;
    height: 200px;
    width: 95%;
    margin: auto;
    padding: 8px;
    @include flexbox();
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

  .basic-tile1 {
    width: 25%;
    height: 200px;
    @include border-radius(20px);
    margin: auto;
    padding: 8px;
  }

  .gallery-container1:first-of-type {
    .basic-tile1 {
      padding-top: 16px;
    }
  }

  .gallery-container1:last-of-type {
    .basic-tile1 {
      padding-bottom: 16px;
    }
  }

  .blue-tile1, .green-tile1, .red-tile1, .yellow-tile1 {
    @extend .basic-tile1;
    @include flex(1 2);
  }

}
