/*///
 Media Queries - largest to smallest max-width
*////

body {

    // @media screen and (max-width: 1199px) {

    // }

    // @media screen and (max-width: 991px) {

    // }

    // @media screen and (max-width: 850px) {

    // }

    // @media screen and (max-width: 767px) {

    // }

    @media screen and (max-width: 630px) {

      .footer-text {
        font-size: 16px;
      }

    }

    // @media screen and (max-width: 530px) {

    // }

    @media only screen and (max-width: 480px) {

      .footer-text {
        font-size: 16px;
      }

    }

    // @media only screen and (max-width: 415px) {

    // }

    @media only screen and (max-width: 370px) {

      .footer-text {
        font-size: 14px;
      }

    }

    @media only screen and (max-width: 347px) {

      .footer-text {
        font-size: 12px;
      }

    }

  }
